In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import scipy as sp
import scipy.stats as stats
import matplotlib.pyplot as plt

plt.style.use('ggplot')

In [2]:
'''

get file in jupyter cell
%load filename.py

save to file from jupyter cell (will overwrite)
%%writefile filename.py

'''

'\nget file in jupyter cell\n%load filename.py\n\nsave to file from jupyter cell (will overwrite)\n%%writefile filename.py\n'

In [57]:
import glob

In [62]:

#read file to access headers for the group of CSVs you want to use in DF

import pandas as pd
import numpy as np
import scipy as sp
import scipy.stats as stats
import matplotlib.pyplot as plt
import glob

financial_headers = pd.read_csv('/Users/Kelly/galvanize/week4/Federal-Election-Funding/data/financial/fin_head.csv', sep=",", header=None)
financial_headers_list = list(financial_headers.iloc[:,0])

path = r'/Users/Kelly/galvanize/week4/Federal-Election-Funding/data/financial/all_80to18'
all_files = glob.glob(path + "/*.txt")


li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=None, sep='|', names=financial_headers_list)
    li.append(df)
    
financial_df_raw = pd.concat(li, axis=0, ignore_index=0)

Writing build_df_financial.py

In [61]:
financial_df_raw.head(5)

,FEC_ID,NAME,INC_STATUS,PTY_CD,PARTY,TTL_RECEIPTS,TRANS_FROM_AUTH,TTL_DISB,TRANS_TO_AUTH,CASH_BEGIN,...,SPEC_ELEC,PRIM_ELEC,RUN_ELEC,GEN_ELEC,GEN_ELEC_PRECENT,OTHER_POL_CMTE_CONTRIB,POL_PTY_CONTRIB,CVG_END_DT,INDIV_REFUNDS,CMTE_REFUNDS
0,H0AK00014,"WHITTAKER, RICHARD",NaN,1,DEM,1116.0,0.0,764.0,0.0,0.0,...,NaN,L,NaN,L,0.0,0.0,0.0,10/15/1980,0.0,0.0
1,H0AK01012,"PARNELL, KEVIN ""PAT""",NaN,1,DEM,51643.0,0.0,51607.0,0.0,0.0,...,NaN,W,NaN,L,26.0,0.0,0.0,12/31/1980,0.0,0.0
2,H6AK00029,"HENSLEY, WILLIAM L.",NaN,1,DEM,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,12/31/1980,0.0,0.0
3,H6AK00102,"HOPSON, EBEN",NaN,1,DEM,0.0,0.0,390.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,12/31/1980,0.0,0.0
4,H8AK00025,"RODEY, PATRICK",NaN,1,DEM,6057.0,0.0,2919.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,12/31/1980,0.0,0.0

In [17]:
financial_headers = pd.read_csv('/Users/Kelly/galvanize/week4/Federal-Election-Funding/data/financial/fin_head.csv', sep=",", header=None)

In [55]:
financial_headers_list = list(financial_headers.iloc[:,0])

In [56]:
financial_headers_list

['FEC_ID',
 'NAME',
 'INC_STATUS',
 'PTY_CD',
 'PARTY',
 'TTL_RECEIPTS',
 'TRANS_FROM_AUTH',
 'TTL_DISB',
 'TRANS_TO_AUTH',
 'CASH_BEGIN',
 'CASH_END',
 'CAND_CONTRIB',
 'CAND_LOANS',
 'OTHER_LOANS',
 'CAND_LOAN_REPAY',
 'OTHER_LOAN_REPAY',
 'DEBTS_OWED_BY',
 'TTL_INDIV_CONTRIB',
 'STATE',
 'DISTRICT',
 'SPEC_ELEC',
 'PRIM_ELEC',
 'RUN_ELEC',
 'GEN_ELEC',
 'GEN_ELEC_PRECENT',
 'OTHER_POL_CMTE_CONTRIB',
 'POL_PTY_CONTRIB',
 'CVG_END_DT',
 'INDIV_REFUNDS',
 'CMTE_REFUNDS']